feedparser==6.0.12
holidays==0.90
ipython==9.13.0
matplotlib==3.10.9
numpy==2.4.6
openpyxl==3.1.5
pandas==3.0.3
plotly==6.5.2
python-dotenv==1.2.2
python_dateutil==2.9.0.post0
Requests==2.34.2
scipy==1.17.1
streamlit==1.54.0
streamlit==1.57.0
urllib3==2.7.0
websocket_client==1.9.0
feedparser==6.0.12
matplotlib==3.10.9
scypy==1.17.1
openpyxl ==3.1.5
websocket-client==1.9.0
python-dotenv==1.2.2    